* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 241, 244);
}

header {
    max-height: 8rem;
    padding: 2rem 6rem 2rem 12rem;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.brand {
    background-color: white;
    color: rgb(8, 88, 145);
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 1;
}

.brand-name {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0;
  color: rgb(8, 88, 145);
}

.brand-tagline {
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 0.3px;
  margin-top: 0.2rem;
  color: rgb(8, 88, 145);
}

header > .nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(120, 119, 119);
}

a:hover {
    color: rgb(0, 187, 229);
}

.nav-link {
    color: rgb(0, 187, 229);
}

.btn-nav {
    background-image: linear-gradient(to right, rgb(8, 88, 145), rgb(0, 187, 229));
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 6px;
}


li {
    list-style: none;
}

.hero {
    min-height: 30rem;
    padding: 3rem 6rem;
    display: block;
}

.hero > .hero-title, .hero-text, .hero-buttons {
    max-width: 60vw;
}

h1 {
  font-size: 3.5rem;
  color: rgb(10, 10, 56);
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
  color: black;
}

h3 {
  margin-bottom: 0.75rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  color: rgb(92, 92, 92);
}

.hero-buttons {
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

.btn-outline {
    background-image: linear-gradient(to right, rgb(8, 88, 145), rgb(0, 187, 229));
    color: white;
    padding: 1rem 2rem;
    margin: 0 2rem 0 0;
    border-radius: 6px;
    font-weight: bold;
}

.btn-primary {
    background-color: rgb(249, 246, 246);
    color: rgb(8, 88, 145);
    padding: 1rem 2rem;
    margin: 0 2rem 0 0;
    border-radius: 6px;
    font-weight: bold;
    border: solid 2px rgb(8, 88, 145);
}

.btn-outline,
.btn-primary {
  box-sizing: border-box;
}

.services {
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}